* {
    font-family: arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background: #f0f2f3;
  }
.caja1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    width: 80px;
    height: 80px;
    margin: 10px;
}
.caja_buscar{
    position: relative;
}
.barra_buscar{
    background-color: #d3d5ec;
    padding: 15px;
    padding-right: 250px;
    border-radius: 10px;
    border: 0;
    outline: none;
}
.button_barra{
    background-color: #d3d5ec;
    padding: 10px 15px;
    position: absolute;
    border: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}
.barra{
    height: 20px;
    background-color: #6a70a3;
}
.nav_BR{
    display: flex;
}
.nav_produc{
    display: flex;
    align-content: center;
    border-radius: 10px;
    padding: 10px;
    background-color: #e9aa6f;
    color: black;
    margin: 10px;
}
.nav_regis{
    display: flex;
    align-content: center;
    border-radius: 10px;
    padding: 10px;
    background-color: #e9aa6f;
    color: black;
    margin: 10px;
}
.caja2 {
    background-color: white;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    margin: 30px 50px 30px 50px;
    box-shadow: 5px 5px 5px 12px rgba(39, 32, 129, 0.3);
    padding: 30px;
}
.caja_tabla {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #6a70a3;
    background: #f0f2f3;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #e9aa6f;
}

img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.paginacion {
    display: flex;
    justify-content: center;
}

.paginacion button {
    margin: 10px 8px;
    padding: 10px 15px;
    border: none;
    background: #e9aa6f;
    color: black;
    cursor: pointer;
}

.paginacion button.disabled {
    background: #ccc;
    cursor: not-allowed;
}
footer{
    background: #6a70a3;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}
.content-foo{
    text-align: center;
}
.content-foo h4{
    color: white;
    border-bottom: 3px solid #e9aa6f;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content-foo p{
    color: white
}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #e9aa6f
}