* {
    font-family: arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background: #f0f2f3;
  }
.caja1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    width: 80px;
    height: 80px;
    margin: 10px;
}
.txt_azul{
    color: black;
}
.barra{
    height: 20px;
    background-color: #6a70a3;
}
.nav_BR{
    display: flex;
}
.nav_regis{
    display: flex;
    align-content: center;
    border-radius: 10px;
    padding: 10px;
    background-color: #989ed4;
    color: white;
    border: 2px solid #2b3596;
    margin: 10px;
}
.nav_buscar{
    display: flex;
    align-content: center;
    border-radius: 10px;
    padding: 10px;
    background-color: #989ed4;
    color: white;
    border: 2px solid #2b3596;
    margin: 10px;
}
.caja2 {
    background-color: white;
    text-align: center;;
    border-radius: 10px;
    margin: auto;
    margin: 30px 0px 30px 50px;
    box-shadow: 5px 5px 5px 12px rgba(39, 32, 129, 0.3);
}
.card{
    margin: 10px;
    background-color: #e4e6f1;
    padding: 50px;
}
.imagen{
    border: 1px solid #2b3596;
    max-width: 100%;
    height: 160px;
    width: 260px;
}

.card_info {
    border: 2px solid #2b3596;
    text-align: center;
}
.flex_card{
    display: grid;
    grid-template-columns: repeat(5, auto);
}

.paginacion {
    display: flex;
    justify-content: center;
}
.paginacion button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
}
.paginacion button.disabled {
    background: #ccc;
    cursor: not-allowed;
}