* {
    font-family: arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background: #f0f2f3;
  }
.caja1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    width: 80px;
    height: 80px;
    margin: 10px;
}
.txt_azul{
    -webkit-text-stroke: 1px black;
    color: #d2c6f0;
}
.barra{
    height: 20px;
    background-color: #6a70a3;
}
.nav_BR{
    display: flex;
}
a{
    display: flex;
    align-content: center;
    border-radius: 10px;
    padding: 10px;
    background-color: #e9aa6f;
    color: black;
    margin: 10px;
    text-decoration: none;
}

.caja2 {
    background-color: white;
    text-align: center;;
    border-radius: 10px;
    margin: auto;
    margin: 30px 50px 30px 50px;
    box-shadow: 5px 5px 5px 12px rgba(39, 32, 129, 0.3);
}
.titulo{
    padding: 30px;
  
}
.card{
    margin: 20px;
    background-color: #e4e6f1;
    padding: 50px;
    border-radius: 5px;
    border: 1px solid #2b3596;
}
.imagen{
    max-width: 100%;
    height: 230px;
    width: 230px;
    border-radius: 5px;
}

.card_info {
    text-align: start;
    padding: 10px;
    background-color: white;
    border-radius: 3px;
}
.color_info{
    color: #2b3596;
}
.color_precio{
    color: #f07909;
}
.flex_card{
    display: grid;
    grid-template-columns: repeat(5, auto);
}

.paginacion {
    display: flex;
    justify-content: center;
}
.paginacion button {
    margin: 10px 8px;
    padding: 10px 15px;
    border: none;
    background: #e9aa6f;
    color: black;
    cursor: pointer;
}
.paginacion button.disabled {
    background: #ccc;
    cursor: not-allowed;
}
footer{
    background: #6a70a3;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}
.content-foo{
    text-align: center;
}
.content-foo h4{
    color: white;
    border-bottom: 3px solid #e9aa6f;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.content-foo p{
    color: white
}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #e9aa6f
}
@media (max-width:991px){
    html{
        font-size: 55%;
    }
}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
}
@media (max-width:768px){
    .imagen{
        border: 1px solid #2b3596;
        max-width: 100%;
        height: 230px;
        width: 230px;
    }
}