<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/filtro.css">
    <link rel="shortcut icon" href="../img/logo_PharmaVida.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/b408879b64.js" crossorigin="anonymous"></script>
    <title>Busqueda Productos</title>
</head>
<body>
    <header class="caja1">
        <img src="../img/logo_PharmaVida.png" alt="" class="logo">
        <section class="caja_buscar">
            <input class="barra_buscar" id="Buscar" type="text" placeholder="Buscar..." onkeyup="FiltrarTabla()">
            <button class="button_barra"><i class="fa-solid fa-magnifying-glass" style="color: #ff914d;"></i></button>
        </section>
        <nav class="nav_BR">
            <a href="productos.html" class="nav_produc">Productos</a>
            <a href="register.html" class="nav_regis">Registrar</a>
        </nav>
    </header>
    <p class="barra"></p>

    <main class="caja2">
        <table class="caja_tabla" id="produc_tabla">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th>Codigo</th>
                    <th>Precio</th>
                    <th>Laboratorio</th>
                    <th>Cantidad</th>
                    <th>Concentrado</th>
                    <th>Imagen</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <section class="paginacion" id="paginacion">
            
        </section>
        
    </main>
    <footer>
        <div class="contenedor-footer" id="contacto">
            <div class="content-foo">
                <h4>Telefono</h4>
                <p>(602) 6602170</p>
            </div>
            <div class="content-foo">
                <h4>Correo</h4>
                <p>PharmaVida@pharma.com.co</p>
            </div>
            <div class="content-foo">
                <h4>Ubicación</h4>
                <p>Cali-Colombia</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; PharmaVida | Jose Rodriguez</h2>
    </footer>
    <script src="../js/filtro.js"></script>
</body>

</html>