<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/productos.css">
    <link rel="shortcut icon" href="../img/logo_PharmaVida.jpg" type="image/x-icon">
    <title>Productos</title>
</head>

<body>
    <header class="caja1">
        <img src="../img/logo_PharmaVida.jpg" alt="" class="logo">
        <h1 class="txt_azul">PRODUCTOS</h1>
        <nav class="nav_BR">
            <a href="" class="nav_buscar">Buscar</a>
            <a href="" class="nav_regis">Registrar</a>
        </nav>
    </header>
    <p class="barra"></p>
    <main class="caja2">
        <h1>Lista de Productos</h1>

        <article class="flex_card" id="CardProductos">

        </article>
        <section class="paginacion" id="paginacion">
            
        </section>
    </main>
    <script src="../js/Productos.js"></script>
</body>

</html>