<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/productos.css">
    <link rel="shortcut icon" href="../img/logo_PharmaVida_2.png" type="image/x-icon">
    <title>Productos</title>
</head>

<body>
    <header class="caja1">
        <img src="../img/logo_PharmaVida_2.png" alt="" class="logo">
        <h1 class="txt_azul">PRODUCTOS</h1>
        <nav class="nav_BR">
            <a href="filtro.html" class="nav_buscar">Buscar</a>
            <a href="register.html" class="nav_regis">Registrar</a>
        </nav>
    </header>
    <p class="barra"></p>
    <main class="caja2">
        <h1 class="titulo">LISTA DE PRODUCTOS</h1>

        <article class="flex_card" id="CardProductos">

        </article>
        <section class="paginacion" id="paginacion">
            
        </section>
    </main>
    <footer>
        <div class="contenedor-footer" id="contacto">
            <div class="content-foo">
                <h4>Telefono</h4>
                <p>(602) 6602170</p>
            </div>
            <div class="content-foo">
                <h4>Correo</h4>
                <p>PharmaVida@pharma.com.co</p>
            </div>
            <div class="content-foo">
                <h4>Ubicación</h4>
                <p>Cali-Colombia</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; PharmaVida | Jose Rodriguez</h2>
    </footer>
    <script src="../js/Productos.js"></script>
</body>

</html>