<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/register.css">
    <link rel="shortcut icon" href="../img/logo_PharmaVida.png" type="image/x-icon">
    <title>Regsitro Productos</title>
</head>

<body>
    <header class="caja1">
        <img src="../img/logo_PharmaVida.png" alt="" class="logo">
        <h1 class="txt_azul">REGISTRO DE PRODUCTOS</h1>
        <nav class="nav_BR">
            <a href="../index.html"><img src="../img/logo_inicio.png" alt=""></a>
            <a href="productos.html" ><img src="../img/logo_produc.png" alt="">Producto</a>
            <a href="filtro.html"><img src="../img/logo_buscar.png" alt="">Buscar</a>
        </nav>
    </header>
    <p class="barra"></p>
    <main class="caja_padre">
        <aside class="indica">
            <h4 style="text-align: center;" class="texto_indica">Farmacia PharmaVida</h4><br>
            <p class="texto_indica">Lleva a cabo todos lo procesos para el cuidado y tratamiento de las personas
                mediante los mejores medicamentos proporcionados por los mas grandes laboratorios de medicamentos.</p>
            <br>
            <h4 style="text-align: center;" class="texto_indica">Codigo de Producto:</h4><br>
            <p class="texto_indica">■ Minimo 8 Caracteres</p><br>
            <p class="texto_indica">■ Debe tener al menos una minuscula y una mayuscula</p><br>
            <p class="texto_indica">■ Debe tener minimo 2 números</p><br>
        </aside>

        <article class="caja2">
            <h3 class="titulo"><Strong>Agregar Productos</Strong></h3>
            <form action="" method="post" id="Registrar" id="Limpiar">
                <div class="form">
                    <section>
                        <label for="" class="texto_regis">Nombre del Producto</label><br>
                        <input type="text" id="NombreProduc" class="borde" name="NombreProduc" required maxlength="20"><br></br>

                        <label for="" class="texto_regis">Categoria</label><br>
                        <select name="categoria" id="Categoria" class="borde" required>
                            <option value="">Seleccione la Categoria</option>
                            <option value="Medicamentos">Medicamentos</option>
                            <option value="Nutricion">Nutricion</option>
                            <option value="Protector_Solar">Protector Solar</option>
                            <option value="Cuidado_Facil">Cuidado Facial</option>
                            <option value="Cabello">Cabello</option>
                            <option value="Salud_Sexual">Salud Sexual</option>
                            <option value="Maternidad">Maternidad</option>
                        </select><br><br>

                        <label for="" class="texto_regis">Codigo de Producto</label><br>
                        <input type="text" id="Codigo" class="borde" name="Codigo" placeholder="Ej: Ac000001" required minlength="8" maxlength="10"><br>
                    </section>

                    <section>
                        <label for="" class="texto_regis">Precio</label><br>
                        <input type="number" id="Precio" class="borde" name="Precio" required><br></br>

                        <label for="" class="texto_regis">Laboratorio</label><br>
                        <input type="text" id="Laboratorio" class="borde" name="Laboratorio" required><br></br>

                        <label for="" class="texto_regis">Cantidad</label><br>
                        <input type="text" id="Cantidad" class="borde" name="Cantidad" required><br></br>
                    </section>

                    <section>
                        <label for="" class="texto_regis">Concentrado</label><br>
                        <input type="text" id="Concentrado" class="borde" name="Concentrado" placeholder="Ej: 10mg"><br></br>

                        <label for="Imagen" class="texto_regis">Imagen</label><br>
                        <select name="Imagen" id="Imagen" class="borde" >
                            <option value="imagen1" data-img-src="../img/medicamentos1.jpg">Medicamentos1</option>
                            <option value="imagen2" data-img-src="../img/medicamentos2.webp">Medicamentos2</option>
                            <option value="imagen3" data-img-src="../img/medicamentos3.webp">Medicamentos3</option>
                            <option value="imagen4" data-img-src="../img/medicamentos4.jpg">Medicamentos4</option>
                            <option value="imagen5" data-img-src="../img/medicamentos5.jpg">Medicamentos5</option>
                        </select><br></br>
                        <section id="imgMostrar" class="img_select">
                            <img src="../img/medicamentos1.jpg" alt="Seleccionada">
                   </section>
                    </section>
                    
                </div>
                <section class="space_button">
                    <button type="submit" class="boton">Registrar</button>
                    <button type="reset" class="boton">Limpiar</button>
                </section>
            </form>

        </article>
    </main>
    <footer>
        <div class="contenedor-footer" id="contacto">
            <div class="content-foo">
                <h4>Telefono</h4>
                <p>(602) 6602170</p>
            </div>
            <div class="content-foo">
                <h4>Correo</h4>
                <p>PharmaVida@pharma.com.co</p>
            </div>
            <div class="content-foo">
                <h4>Ubicación</h4>
                <p>Cali-Colombia</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; PharmaVida | Jose Rodriguez</h2>
    </footer>

    <script src="../js/arrayProduc.js"></script>
</body>

</html>